<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tamagotchi</title>
    <link rel="stylesheet" href="./sprites.css" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="container">
      <div class="inner">
        <div class="game day"></div>
        <div class="fox hidden"></div>
        <div class="poopBag hidden"></div>
        <div class="foregroundRain"></div>
        <div class="modal">
          <div class="modalInner">Press the middle button to start</div>
        </div>
        <div class="frame"></div>
        <div class="buttons">
          <div class="btn leftBtn"></div>
          <div class="btn middleBtn"></div>
          <div class="btn rightBtn"></div>
        </div>
        <div class="icons">
          <div class="icon highlighted fishIcon"></div>
          <div class="icon poopIcon"></div>
          <div class="icon weatherIcon"></div>
        </div>
      </div>
    </div>
    <script type="module" src="./init.js"></script>
  </body>
</html>
